/* General */

body {
	background: #f2f3ee url(../images/bg.png) top left repeat;
	color: #393939;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 950px;
    margin: 0 auto;
    padding: 20px 24px;
    /*border: solid 1px black;*/
}

/* Typography */

h1 {
    color: #393939;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
    margin: 0;
    font-family: 'Bubblegum Sans', cursive;
}

h2 {
    color: #393939;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 26px;
    /*border: solid 1px black;*/
    font-weight: normal;
}

h3 {
    color: #393939;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

h4 {
    color: #393939;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

p.subtitle {
    text-align: center;
    font-size: 28px;
    font-family: 'Puritan', sans-serif;
}

hr {
    border: none;
    width: 400px;
    height: 33px;
    background: url(../images/hr.png) center center no-repeat;
    margin: 10px auto;
}
 
a:link {
    color: #527636;
}

a:visited {
    color: #527636;
}

a:hover {
    color: #81b537;
}

/* Header CSS */

header nav {
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    line-height: 141px;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Crushed', cursive;
}

header nav ul li a:link {
    color: #393939;
}

header nav ul li a:visited {
    color: #393939;
}

header nav ul li a:hover {
    color: #527636;
    padding-top: 22px;
    background: url(../images/tiny-rabbit.png) top center no-repeat;
}

header nav ul li a.active {
    padding-bottom: 20px;
    background: url(../images/underline.png) bottom center no-repeat;
}

header nav ul li a#active:hover {
    padding-bottom: 20px;
    background: url(../images/underline.png) center 52px no-repeat, url(../images/tiny-rabbit.png) top center no-repeat;
}

header nav ul li#logo a {
    display: block;
    width: 250px;
    height: 141px;
    padding: 0;
    background: url(../images/logo-colour.png) center center no-repeat;
    text-indent: -9999px;
}

header nav ul li#logo a:hover {
    display: block;
    width: 250px;
    height: 141px;
    background: url(../images/logo-colour-hover.png) center center no-repeat;
    text-indent: -9999px;
}



/* Hero CSS */

#hero {
    background: url(../images/wood-tile.jpg) top left repeat;
    text-align: center;
}

#hero .container {
    position: relative;
}

#hero .ribbon {
    width: 120px;
    height: 132px;
    background: url(../images/ribbon.png) top left no-repeat;
    position: absolute;
    text-indent: -9999px;
    top: -20px;
    right: 220px;
}

#hero .us-ribbon {
    width: 400px;
    height: 97px;
    background: url(../images/us-ribbon.png) top left no-repeat;
    position: absolute;
    text-indent: -9999px;
    bottom: 0px;
    left: 300px;
}

#hero-header p {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 26px;
    border: solid 1px black;
}

#hero-header-images {
    text-align: center;
}

#hero-header-images ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#hero-header-images ul li {
    display: inline-block;
    padding: 0 10px 20px 10px;
}


/* Content CSS */

#hutch-story h1 {
    text-align: center;
}

#about-us h1 {
    text-align: center;
}

#contact-us h3, p {
    text-align: center;
}

#active {
    padding-bottom: 18px; 
    background: url(../images/underline.png) center 30px no-repeat;
}

#story-blurb {
    width: 550px;
    margin-right: 25px;
    float: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#about-blurb {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#nz-made {
    width: 350px;
    float: right;
    text-align: center;
}

#news-events {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 0 0;
}

#articles {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

#news-events article {
    margin: 20px 0;
    padding-left: 60px;
}

#news-events header time {
    color: #4F4F4F;
    font-size: 12px;
}

#news-events article.news {
    background: url(../images/news.png) top left no-repeat;
}

#news-events article.event {
    background: url(../images/calendar.png) top left no-repeat;
}

#news-events section.excerpt {
    margin: 10px 0 0 0;
}

#news-events footer {
    font-size: 12px;
    margin: 0;
}

/* Products Page CSS */

#products {
    text-align: center;
}

#products ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    /*border: solid 1px;*/
}

#products ul li {
    text-align: left;
    /*width: 600px;*/
    /*border: solid 1px;*/
    position: relative;
}

.inner-container {
    /*border: solid 1px blue;*/
    width: 624px;
    margin: 0 auto;
}

.product-image {
    display: inline-block;
    text-align: right;
    /*float: left;*/
    /*width: 200px;*/
    padding: 20px 20px;
    /*border: 1px solid red;*/
}

.product-desc {
    display: inline-block;
    /*float: right;*/
    text-align: center;
    width: 400px;
    padding: 10px 20px;
    /*border: 1px solid green;*/
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.product-desc p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.product-desc h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

/* Information Page CSS */

#info {
    /*border: solid 1px;*/
}

.info-header {
    margin: 0 auto;
    width: 600px;
    height: 60px;
    text-align: center;
}

.info-sidebar {
    width: 220px;
    text-align: left;
    background-color: #81b537;
    /*font-family: 'Puritan', sans-serif;*/
    /*font-size: 15px;*/
    /*padding: 10px 0;*/
    /*border: solid black 1px;*/
}

.info-sidebar ul {
    list-style: none;
    padding: 20px 30px;
}

.info-sidebar ul li {
    padding: 0;
}

.info-sidebar ul li a {
    text-decoration: none;
}

.info-sidebar ul li a:link {
    color: #4d4948;
}

.info-sidebar ul li a:visited {
    color: #4d4948;
}

.info-sidebar ul li a:hover {
    color: #527636;
}

/* Footer CSS */

footer#main {
    background: url(../images/metal-tile.png) top left repeat;
    padding: 0;

}

#copyright, #address {
    width: 300px;
    padding: 5px 50px 5px 50px;
    font-family: 'Puritan', sans-serif;
    font-size: 18px;
    color: #393939;
    /*border: solid 1px;*/
}

#social-icons {
    width: 144px;
    margin: 0 auto;
    float: left;
    padding: 5px 0px;
    text-align: center;
    /*border: solid 1px;*/
}

#social-icons a {
    padding: 0px 5px;
}

#copyright {
    float: left;
}

#address {
    float: right;
    text-align: right;
}

/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */